*.vscode
*.pth
*.pyc
***/LICENSE
*.ipynb
*.venv
lightning_logs*
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
*egg-info*
# Environments
.virtual_env
virtual_env/

#pycharm
.idea/*

