*.vscode
*.pth
*.pyc
***/LICENSE
*.ipynb
*.venv
lightning_logs*
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
*egg-info*
# Environments
.virtual_env
virtual_env/
src/utils/vcl3datlantis/models/PanoDR/SEAN/spade_arch_end2end.py
src/utils/vcl3datlantis/models/PanoDR/SEAN/normalization_end2end.py
#pycharm
.idea/*

